# NCrunch files and folders
*[Nn]crunch*

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# VS specific files
*.vs*
*.sln
*.csproj.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/

# Packages
*.nupkg
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
